* {
    font-family: 'Product Sans', sans-serif;
}

html {
    background-color: #181818;
    color: #f0f0f0;
}

head {
    padding: 12px;
}

students {
    padding: 12px;
}

student {
    display: block; 
    margin-top: 10px; 
    color:Navy;
}

USN {
    display: block; 
    margin-left: 10px;
    font-size: 14pt; 
    color:Red;
}

name, college, branch, year, e-mail {
    display: block; 
    margin-left: 20px;
}

name {
    font-size: 14pt; 
    color:Blue;
}

college {
    font-size: 12pt; 
    color:Maroon;
}

branch{
    font-size: 12pt; 
    color:Purple;
}

year {
    font-size: 14pt; 
    color:Green;
}

e-mail {
    font-size: 12pt; 
    color:Blue;
}